Backend_stack.docx*
Benchmark_App_TCG.xlsx*
comparatif_apps_pokemon_tcg.xlsx*
GEMINI.md
GEMINI_OLD.md
Contexte_Projet.md
etat-avancement-collectionr-cloud(1).md
tickets-jalon-alpha-final(7).md

# IDE
.idea/
.vscode/*
!.vscode/extensions.json