Backend_stack.docx*
Benchmark_App_TCG.xlsx*
comparatif_apps_pokemon_tcg.xlsx*
Contexte_Projet.md

# IDE
.idea/
.vs/
.vscode/*
!.vscode/extensions.json

# Outillage racine (Husky)
/node_modules/

# Jupyter
.ipynb_checkpoints/